<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, praesentium. <gap2 id="1"></gap2>Aenean a odio dui consectetur adipisicing elit.
   Non voluptatibus praesentium accusantium?</p>

<p>Etiam rutrum nibh id urna tincidunt imperdiet. Mauris in augue nec nibh lacinia aliquet id vitae velit.
  Cras tortor lorem, ullamcorper <gap2 id="2"></gap2> eu pellentesque quis, gravida at neque.</p>

<p>In pulvinar, lectus vel sollicitudin pretium, tellus felis ultricies ligula, nec semper risus elit sit amet ex. Curabitur dolor tortor,
  pellentesque sit amet ornare quis, viverra non purus.<gap2 id="3"></gap2> Vestibulum maximus diam sed nunc bibendum, nec pharetra turpis tincidunt.</p>

<p>Lorem ipsum dolor sit amet,  <gap2 id="4"></gap2>  consectetur adipisicing elit. Veritatis atque, corrupti. Suspendisse quis ipsum augue. </p>

<p>Etiam orci lectus<gap2 id="6"></gap2>.Maecenas aliquet ante eu est faucibus rhoncus. Donec volutpat maximus nibh, quis scelerisque lacus cursus eget. Finibus non porttitor vitae, rhoncus in turpis.</p>


<div class="text-center buttons">
  <button class="buttonStyle" ng-click="checkAnswers()" ng-disabled="checkButtonVisibility">Check</button>
  <button class="buttonStyle" ng-click="reset()">Reset</button>
  <button class="buttonStyle" ng-click="getScore()" ng-disabled="getScoreButtonVisibility">Get score: {{showProgress}}</button>
</div>
<div class="text-right">
  <a ui-sref="task1" ng-click="reset()"><button class="buttonStyle">Previous task</button></a>
</div>
