<div class="row inner">

  <h2 class="heading">uzupełnij tekst brakującymi wyrazami</h2>

  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit <gap id="1"></gap>. Nulla vel aliquet velit. Aliquam laoreet erat sed magna
    dictum condimentum. Fusce porta nisl et nisi vulputate, ut sodales sapien vestibulum. Donec dolor arcu, hendrerit in sapien eu, pretium
    vestibulum urna.</p>

  <p>Pellentesque viverra enim quis congue facilisis. Etiam <gap id="2"></gap> non ligula id lorem tristique mollis sit amet id nisl.
    Quisque cursus, enim ut eleifend tincidunt, est nisl sodales justo, id tempus risus est ac ligula. Aenean a odio dui.</p>

  <p>ipsum dolor sit amet, consectetur adipiscing <gap id="3"></gap> scelerisque lectus, Lorem ipsum.</p>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis atque, corrupti.<gap id="4"></gap> ligula id lorem tristique, consectetur adipisicing elit. Quia explicabo maiores consequatur.</p>

  <p>Liverra enim quis congus<gap id="6"></gap>. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint officia assumenda doloremque laborum tempora!</p>

  <div class="text-center buttons">
    <button class="buttonStyle" ng-click="checkAnswers()" ng-disabled="checkButtonVisibility">Check</button>
    <button class="buttonStyle" ng-click="reset()">Reset</button>
    <button class="buttonStyle" ng-click="getScore()" ng-disabled="getScoreButtonVisibility">Get score: {{showProgress}}/5</button>
  </div>
</div>
