<div class="content"></div>

<div class="text-center buttons">
  <button class="buttonStyle" ng-click="checkAnswers()" ng-disabled="checkButtonVisibility">Check</button>
  <button class="buttonStyle" ng-click="reset()">Reset</button>
  <button class="buttonStyle" ng-click="getScore()" ng-disabled="getScoreButtonVisibility">Get score: {{showProgress}}</button>
</div>

<div class="text-right">
  <a ui-sref="task2" ng-click="reset()"><button class="buttonStyle">Next task</button></a>
</div>
