<div class="content"></div>

<div class="text-center buttons">
  <button class="buttonStyle" ng-click="checkAnswers()" ng-disabled="checkButtonVisibility">Check</button>
  <button class="buttonStyle" ng-click="reset()">Reset</button>
  <button class="buttonStyle" ng-click="getScore()" ng-disabled="getScoreButtonVisibility">Get score: {{showProgress}}</button>
</div>

<button ng-click="rmLocalStorageData()" class="btn btn-info">Remove arr</button>

<input type="text" class="directiveInput" ng-model="classNameValue">
<button class="btn btn-success" ng-click="addClassName()">Add new class name</button>
<button class="btn btn-warning" ng-click="displayClassList()">Display list</button>
<button class="btn btn-danger" ng-click="rmClassList()">Remove list</button>
