<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit <gap2 id="1"></gap2>. Nulla vel aliquet velit. Aliquam laoreet erat sed magna
  dictum condimentum. Fusce porta nisl et nisi vulputate, ut sodales sapien vestibulum. Donec dolor arcu, hendrerit in sapien eu, pretium
  vestibulum urna.</p>

<p>Pellentesque viverra enim quis congue facilisis. Etiam <gap2 id="2"></gap2> non ligula id lorem tristique mollis sit amet id nisl.
  Quisque cursus, enim ut eleifend tincidunt, est nisl sodales justo, id tempus risus est ac ligula. Aenean a odio dui.</p>

<p>ipsum dolor sit amet, consectetur adipiscing <gap2 id="3"></gap2> scelerisque lectus, Lorem ipsum.</p>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis atque, corrupti.<gap2 id="4"></gap2> ligula id lorem tristique, consectetur adipisicing elit. Quia explicabo maiores consequatur.</p>

<p>Liverra enim quis congus<gap2 id="6"></gap2>. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint officia assumenda doloremque laborum tempora!</p>


<div class="text-center buttons">
  <button class="buttonStyle" ng-click="checkAnswers()" ng-disabled="checkButtonVisibility">Check</button>
  <button class="buttonStyle" ng-click="reset()">Reset</button>
  <button class="buttonStyle" ng-click="getScore()" ng-disabled="getScoreButtonVisibility">Get score: {{showProgress}}/5</button>
</div>
<div class="text-center">
  <a ui-sref="task1"><button class="buttonStyle">Previous task</button></a>
  <a ui-sref="task2"><button class="buttonStyle">Next task</button></a>
</div>
